
<div class="row">
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

    <h2>Turismo</h2>
    <p>Llegar a un nuevo lugar y recibir la mejor hospitalidad y un excelente trato.</p>
    <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

    <h2>Fiestas</h2>
    <p>Un evento propio o ajeno del cual quisieras tener un buen recuerdo al igual que nuevos conocidos.</p>
    <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

    <h2>Deportes</h2>
    <p>Pasar el tiempo con alguien que le apasionen las mismas actividades que a ti.</p>
    <p><a class="btn btn-secondary" href="#">Ver mas &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Partido de futbol. </h2>

      <p class="lead">
          Ocho a dieciseis jugadores en un espacio cerrado y climatizado para un juego de 45 minutos.
      </p>

      <p class="lead">
          Nueve confirmados <br>
          Siete Vacantes
      </p>

      <p class="lead">
          6:30pm - Encuentro <br>
          7:00pm - Juego
      </p>

      <p class="lead">
          CHRONOS Futbol 5 <br>
          Cra 24G# 20 -35 Sur
      </p>

    </div>
    <div class="col-md-5">
      <img src="https://crustier-twists.000webhostapp.com/imagenes/heading2.jpg" 
      class="d-block w-100" alt="...">

    </div>
  </div>

  <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Catonaje en laguna. </h2>

        <p class="lead">
            Tres a seis personas en un viaje cercano a la ciudad planeado para salir de la rutina y sentir un poco de adrenalina.
        </p>

        <p class="lead">
            Dos confirmados <br>
            Cuatro Vacantes
        </p>

        <p class="lead">
            7:00am - Salida <br>
            01:30pm - Llegada a ciudad
        </p>

        <p class="lead">
            Cundinamarca <br>
            Km 3 
        </p>
        
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://crustier-twists.000webhostapp.com/imagenes/heading3.jpg" 
        class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Fiesta de ascenso. </h2>
        
        <p class="lead">
            Restaurante tematico para quince personas, celebracion de dos amigos, se ofrece entrada y un plato de comida gratis.
        </p>

        <p class="lead">
            Tres confirmados <br>
            Doce Vacantes
        </p>

        <p class="lead">
            9:20pm Recepcion <br>
            12:00am Fin del evento
        </p>

        <p class="lead">
            La Jugueteria <br>
            Cra 55 # 4a-1
        </p>

      </div>
      <div class="col-md-5">
        <img src="https://crustier-twists.000webhostapp.com/imagenes/heading4.jpg" 
        class="d-block w-100" alt="...">

      </div>
    </div>

    <hr class="featurette-divider">
